


body{
   padding: 0;
   margin: 0;
   font-family: Roboto;
}
a{
   text-decoration: none;
}

/* nav */
.navbar{
   
}
.navbar-toggler:focus{
   box-shadow: none;
}




.dropdown-menu{
   background-color: rgba(255,0, 0, 0.5);
   height: auto;
   max-height: 140px;
   overflow-x: hidden;
  
}
.dropdown-menu .dropdown-item{
 
}

/* goods */

.goods img{
   height: 180px;
}
#cart-out{
   padding: 40px;
   margin-top: 20px;
   display: inline-block;
   border: 1px solid grey;
}